/* Sheet specific styles */

.header
{
    background-color: #444;
    color: White;
}

.header h1
{
    font-size: 36px;
}

.header h2
{
    margin: 0;
}

.header input
{
    width: 100%;
}

.page
{
    font-size: 10px;        
}

.page h3 
{
    background-color: #444;
    color: White;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 10px;
}


.statTable
{
    margin-bottom: 1px;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
}

.page input
{
    border-width: 0px 0px 1px 0px;    
    border-style: solid;
    width: 100%;
}

.page h4
{
    font-size: 9px;
}

.statTable input
{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    margin: 1px 1px 1px 10px;
    width: 45px;
    text-align: center;   
}

.statTable tr > th
{
    padding: 1px;
    font-size: 9px;
    text-align: center;
}

.statTable tr > td
{
    background-color: #444;
    color: White;
    padding: 1px;
}

.statTable small
{
    font-size: 8px;
    line-height: 8px;
}

td.statName
{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.abilName
{
    width: 90px;
    text-align: center;
}

tr.abilSpacer
{
    height: 10px;
}

.hitPoints
{
    width: 100%;
}

.hitPoints th
{
    text-align: center;   
}

.hitPoints input
{
    width: 45px;
    height: 100%;
    margin-left: 12px;
    border: 1px;
    border-style: solid;
    text-align: center;
}

.maxHP
{
    width: 50px;
    font-size: 18px;
}