/* Sheet specific styles */

input[type="number"] {
    -webkit-appearance: textfield;
}

.header
{
    background-color: #444;
    color: White;
}

.header h1
{
    font-size: 36px;
}

.header h2
{
    margin: 0;
}

.header input
{
    width: 100%;
}

.page
{
    font-size: 10px;        
}

.page h3 
{
    background-color: #444;
    color: White;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 10px;
}


.statTable
{
    margin-bottom: 1px;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
}

input
{
    width: 100%;
    border-style: solid;
    border-width: 0px; /* No border by default */
}

.page h4
{
    font-size: 9px;
}

.statTable input
{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    margin: 1px 1px 1px 10px;
    width: 45px;
    text-align: center;   
}

.statTable tr > th
{
    padding: 1px;
    font-size: 9px;
    text-align: center;
}

.statTable tr > td
{
    background-color: #444;
    color: White;
    padding: 1px;
}

.statTable small
{
    font-size: 8px;
    line-height: 8px;
}

/* Top bits */

.writeHere
{
    border-width: 0px 0px 1px 0px;
}

.importantBox
{
    border-width: 1px;
}

/* Ability Scores */

.abilMid
{
    height: 5px;
}

td.statName
{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.abilName
{
    width: 90px;
    text-align: center;
}

tr.abilSpacer
{
    height: 50px;
}

/* HP */

.hitPoints
{
    width: 100%;
}

.hitPoints th
{
    text-align: center;   
}

.hitPoints input
{
    width: 45px;
    height: 100%;
    margin-left: 12px;
    border: 1px;
    border-style: solid;
    text-align: center;
}

.maxHP
{
    width: 50px;
    font-size: 18px;
}

/* SKILLS */

.skills input
{
    text-align: center;
}

.skills th
{
    text-align: center;
    font-size: 6px;
}

.oddSkill
{
    background-color: #EEE;
}

.skillBonus input
{
    border-width: 1px;
    width: 30px;
}

.skillName
{
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 2px;
}

.skillAbility
{
    vertical-align: middle;    
}

.skillAbilityMod input
{
    border-width: 1px;
    width: 25px;
    margin-left: 5px;
}

.skillTrained input
{
    border-width: 1px;
    width: 25px;
    margin-left: 5px;
}

.skillArmorPenalty input
{
    background-color: transparent;
    border-style: none;
}

.skillMisc input
{
    background-color: transparent;
    border-style: none;
}

/* Defenses */

.defense
{
    width: 100%;
    margin-bottom: 0px;
}

.defense th
{
    text-align: center;
}

.defense input
{
    text-align: center;
}

.defenseDetail
{
    background-color: #444;
    color: White;
}

.defenseDetail td
{
    vertical-align: middle;
}

.defenseName
{
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: 65px;
}

.defenseBonus
{
    width: 29px;
}

.defenseBonus input
{
    width: 25px;
    border-style: none;
    vertical-align: middle;
}

.defenseScore input
{
    height: 100%;
    width: 40px;
    border-width: 1px;
    font-size: 24px;
}

.conditionalHeader
{
    margin: 0px;
    padding: 0px;
}

/* Action Points */

.actionPointsDiv
{
    width: 60%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: 15px;
    background: #444;
    color: White;
}

.actionPointsDiv input
{
    margin-left: 5px;
    width: 40px;
    border-width: 1px;
    text-align: center;
}

.actionPointsHelp
{
    float: right;
    width: 40%;
    text-align: center;
}

.actionPointsHelpTable
{
    width: 100%;
    font-size: 8px;
}

.actionPointsHelpTable th { text-align: center; }
.actionPointsHelpTable td { text-align: center; }

.actionPointsAdditional
{
    clear: both;
}

/* Multi-line text: race class features, languages */

.mutiLineText
{
    width: 295px;
    resize: none;
    border-style: none;
    font-family: Calibri, Sans-Serif;
}

.raceFeatures
{
    height: 75px;
}

.classFeatures
{
    height: 150px;
}

.languagesKnown
{
    height: 40px;
}

/* movement */

.movementBonus input
{
    width: 30px;
    margin: 0px;
}

/* senses */

.passiveText
{
    font-size: 12px;
    vertical-align: middle;
    font-weight: bold;
}

/* attack workspace */

.attackBonus input
{
    width: 18px;
}

/* feats */

.feats
{
    height: 320px;
    border-width: 1px;
}